:root {
    --bg-main: #050505;
    --panel-bg: #0d0d0d;
    --border-color: #1f1f1f;
    --neon: #00f7ff;
    --text-dim: #9aa0a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
    background-color: var(--bg-main);
    color: white;
    letter-spacing: 1px
}

.panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--neon);
    box-shadow: 0 0 10px var(--neon);
}

.panel {
    min-height: 100vh;
    padding: 80px 10%;
    border-bottom: 1px solid var(--border-color);
    background: var(--panel-bg);
    position: relative;
}

h1, h2 {
    margin-bottom: 25px;
    color: var(--neon);
    text-shadow: 0 0 8px var(--neon);
}

.metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.metrics div {
    background: #111;
    padding: 15px;
    border: 1px solid var(--border-color);
    color: var(--text-dim);
}

.skill {
    margin: 15px 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    padding: 30px;
    background: #111;
    border: 1px solid var(--border-color);
    transition: 0.3s;
}

.card:hover {
    border-color: var(--neon);
    box-shadow: 0 0 15px var(--neon);
    transform: translateY(-6px);
}

.skill span {
    display: block;
    margin-bottom: 6px;
    color: var(--text-dim);
}

.bar {
    height: 8px;
    background: #111;
    border: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
}

.bar::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--neon);
    box-shadow: 0 0 10px var(--neon);
}

.html::after {width: 90%;}
.css::after {width: 85%;}
.problem::after {width: 95%;}

.boot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status {
    color: var(--text-dim);
    margin-top: 10px;
}

.status::before {
    content: "> ";
    color: var(--neon);
}

.contact p {
    margin: 8px 0;
    color: var(--text-dim);
}

.contact p::before {
    content: "> ";
    color: var(--neon);
}