:root {
    --bg-main: #050505;
    --panel-bg: #0d0d0d;
    --border-color: #1f1f1f;
    --neon: #00f7ff;
    --text-dim: #9aa0a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace;
    background-color: var(--bg-main);
    color: white;
    letter-spacing: 1px
}

.panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--neon);
    box-shadow: 0 0 10px var(--neon);
}

.panel {
    min-height: 100vh;
    padding: 80px 10%;
    border-bottom: 1px solid var(--border-color);
    background: var(--panel-bg);
    position: relative;
}

h1, h2 {
    margin-bottom: 20px;
}

.metrics {
    display: grid;
    gap: 10px;
}

.skill {
    margin: 15px 0;
}

.bar {
    height: 8px;
    background: #222;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    padding: 30px;
    background: #111;
    border: 1px solid #333;
}
